.auth-form
{
    display: flex;
    flex-direction: column;
    // justify-content: ;
    
    background-color: rgb(15, 198, 189);
    gap: 10px;
    padding: 10px;
    margin: 10px;
    color: black;
}